{% extends "base.html" %}

{% block content %}
<body>
<ul>
  <li><a class="active" href="/">Home</a></li>
  <li><a href="/token">Create Tokens </a></li>
  <li><a href="/addcontacts">Add Contacts  </a></li>
  <li><a href="/updcontacts">Update Contacts  </a></li>
  <li><a href="/listcontacts">List Contacts  </a></li>
</ul>
<div style="margin-left:25%;padding:1px 16px;height:1000px;"> 
<div class="w3-container w3-teal">
  <h1> Operations Dashboard </h1>
</div>

  </div>
</header>
</body>
{% endblock %}
