{% extends "base.html" %}
  
{% block content %}
<body>
<ul>
  <li><a class="active" href="/">Home</a></li>
  <li><a href="/mypolicy_failures">My Policy User Failures </a></li>
  <li><a href="/search">Okta Search </a></li>
  <li><a href="/mdm_search">MDM Search </a></li>
</ul>
<div style="margin-left:25%;padding:1px 16px;height:1000px;">
<div class="w3-container w3-teal">
  <h1> Digital Sustaining Operations </h1>
</div>

  <h1>Splunk  Search Result for {{param_type}} : {{param_value}} </h1>
  <form action="" method="post" name="search">
   <table border=1>
  {% for key,value in form.iteritems() %}
    <tr>
    <td>{{ key }}</td>
    <td>{{ value }}</td>
    </tr>
  {% endfor %}
  </table>
  </form>

</div>
</body>
{% endblock %}

